* {
    box-sizing: border-box;
    font-family: "Georgia", serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

/* FULL PAGE ENVELOPE */
#envelope-screen {
    position: fixed;
    inset: 0;
    background: #e6f2ef;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.envelope {
    position: relative;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(160deg, #eef9f6, #d6ede6);

    box-shadow: inset 12px 12px 24px rgba(255, 255, 255, 0.75),
    inset -12px -12px 24px rgba(0, 0, 0, 0.08);

    display: flex;
    justify-content: center;
    align-items: center;
}


.envelope::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: radial-gradient(circle at 20% 30%, rgba(255, 255, 255, 0.35), transparent 40%),
    radial-gradient(circle at 70% 60%, rgba(0, 0, 0, 0.08), transparent 45%);

    opacity: 0.6;
    pointer-events: none;
}


.flap {
    position: absolute;
    inset: 0;
    background: linear-gradient(
            to bottom,
            #dff2ec,
            #c3ddd6
    );

    clip-path: polygon(0 0, 100% 0, 50% 55%);
    transform-origin: top center;

    transform: rotateX(0deg);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    backface-visibility: hidden;
}


.letter {
    position: absolute;
    width: 90%;
    height: 160px;
    background: #fff;
    left: 5%;
    top: 35px;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transform: translateY(60px);
}

.seal {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: radial-gradient(circle at 30% 30%, #ffdede, #d89a9a);
    box-shadow: inset 0 4px 6px rgba(255, 255, 255, 0.7),
    inset 0 -6px 8px rgba(0, 0, 0, 0.25),
    0 12px 20px rgba(0, 0, 0, 0.35);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #333;
    position: absolute;
}

.seal:active {
    transform: scale(0.96);
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.6),
    inset 0 -4px 6px rgba(0, 0, 0, 0.3),
    0 6px 10px rgba(0, 0, 0, 0.25);
}


#website {
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.sections {
    position: absolute;
    /*outline: 2px dashed #000;*/
}

.section {
    height: 100vh;
    width: 100vw;
    position: absolute;
    inset: 0;
    gap: 20px;
    /*border-radius: 12px;*/
    box-shadow: 0 12px 25px black;
    will-change: transform;
    /*visibility: hidden;*/
}


.hero {
    background-color: #D6A99D;
    background-image: url("./public/yhwach-bleach-5k-3840x2160-19886.jpg");
    background-size: cover;
}

.couple {
    background-color: #FBF3D5;
}

.events {
    background-color: #D6DAC8
}

.venue {
    background-color: #F2A65A;
}

.event-card {
    background: #fff;
    margin: 15px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
}

/* TODO: Change the font style */
h2, h2 > * {
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
    font-size: 3rem;
    font-style: italic;
}

p {
    font-family: "Ms Madi", cursive;
    font-weight: 500;
    font-size: 1.5rem;
    font-style: normal;
}
